<h1>{{title}}</h1>
<form action="/api/cars" method="POST">
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" name="brand" placeholder="Brand">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" name="model" placeholder="Model">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" name="year" placeholder="Year">
    </div>
    <input type="submit">
</form>
<ul class="mt-4">
    {{#each cars}}
    <li> {{this.brand}} {{this.model}}</li>
    {{/each}}
</ul>
